@media (max-width: 950px) {
  body {
    flex-direction: column-reverse;
    font-size: calc(var(--font-size) * 0.9) !important;
  }

  article.md {
    padding: var(--padding-sm);

    p {
      padding: 0;
    }

    > p:first-child {
      font-size: 1.3rem;
    }

    h3 {
      padding-left: 0;
    }
  }

  aside.nav {
    padding: var(--padding-md) var(--padding-xs);

    section.about {
      align-items: center;
      justify-content: center;

      img {
        max-width: 130px;
        margin-right: var(--padding-xs);
      }

      a {
        font-size: 1em;
      }
    }
  }

  header {
    padding-top: 0px !important;
  }

  .caption {
    padding-left: var(--padding-sm) !important;
  }

  main header h1 {
    margin: var(--padding-sm) !important;
    font-size: 2.7em !important;
  }

  main header img {
    margin-top: var(--padding-sm) !important;
    margin-bottom: 0;
  }
}
