<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<link rel="alternate" type="application/atom+xml" href="@root_path/?/feed/">

<link rel="stylesheet" href="@root_path/public/docs/css/styles.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="@root_path/public/docs/css/textmate.css" type="text/css" media="screen" title="no title" charset="utf-8">

<script type="text/javascript"> 
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www."); 
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E")); 
</script> 
<script type="text/javascript"> 
try { var pageTracker = _gat._getTracker("UA-12244949-1"); pageTracker._trackPageview(); } catch(err) {}
</script> 

<meta name="google-site-verification" content="7m7rL56eU2fs1G9t4-eXpRUYOJCezOFCbQ0NZbxfC7o" />