//= require normalize.css/normalize
//= require typebase.css/typebase
//= require prismjs/themes/prism
//= require syntax

@import 'vars';

html, body {
  @include body;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  font-size: 18px;
}

p {
  // font-size: $fontSize;
  line-height: 1.8em;
  margin-top: $padding;
}

a {
  color: $red;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  @include header;
}

h2, h3, h4, h5, h6 {
  color: $grayDark;
}

h1 {
  color: black;
  letter-spacing: -0.01em;
  font-size: 250%;
  line-height: 1em;
}


.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;

  nav {
    border-left: 1px solid $grayLightest;
    box-sizing: border-box;
    padding: $padding*2 $padding $padding $padding;

    ul, li {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li.active {
      a {
        color: black;
        font-weight: 700;
      }
    }

    a {
      text-decoration: none;
      font-size: 100%;
      display: block;
      border-bottom: $grayDark;
      color: $grayDark;
      padding: $padding/8 0;

      &:hover {
        color: $red;
      }
    }
  }

  .content {
    flex: 1 0px;
    text-align: center;
    padding: $padding*2 0;

    .main {
      display: inline-block;
      text-align: left;

      .lead {
        margin-bottom: $padding*2;

        .date {
          font-size: 110%;
          float: left;
        }

        h1 {
          // border: 1px solid green;
          // margin: 0;
          margin-top: $padding*2;
        }

        h2 {
          background-color: $tan;
          font-size: 110%;
          line-height: 1.4em;
          padding: $padding;
        }
      }
    }
  }
}

@media (min-width: $desktop) {

  .nav {
    width: 300px;
  }

  .main {
    width: 750px;

    // pre {
    //   margin-left: -$padding*2;
    //   margin-right: -$padding*2;

    //   code {
    //     padding: $padding*2 !important;
    //   }
    // }
  }
}


@media (min-width: 600px) {
  .facet_sidebar {
    display: none;
  }
}



