@import 'vars';


.index-articles {
  // display: flex;
  // flex-flow: row wrap;
  // justify-content: space-between;

  .group {
    padding-bottom: $padding*2;
    border-bottom: 1px solid $grayLightest;
    margin-bottom: $padding;
  }

  article {
    padding-top: $padding;
    display: block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;

    img {
      margin-right: $padding/2;
      border: 1px solid $grayMedium;
    }

    p {
      margin-top: $padding/2;
    }

    &.promoted {
      h1 {
        flex: 1 0px;
        font-size: 200%;

        small {
          font-size: 76%;
        }
      }
    }

    h1 {
      margin: 0;
      font-size: 160%;

      small {
        font-size: 80%;
        font-weight: normal;
        font-family: $bodyFont;
        color: $grayMedium;
      }

      .date {
        // float: right;
        // display: inline-block;
        font-size: 60%;
        font-weight: normal;
        font-family: $bodyFont;
        color: $grayLight;
      }
    }
  }
}

