@import 'vars';


.index-articles {
  // display: flex;
  // flex-flow: row wrap;
  // justify-content: space-between;

  article {
    // width: 300px;
    // padding: $padding;
    // border: 1px solid $grayLightest;

    p {
      // font-size: 80%;
      margin-top: $padding/2;
    }

    h1 {
      margin: $padding 0;
      font-size: 190%;

      small {
        font-size: 70%;
        font-weight: normal;
        font-family: $bodyFont;
        color: $grayMedium;
      }

      .date {
        // float: right;
        // display: inline-block;
        font-size: 50%;
        font-weight: normal;
        font-family: $bodyFont;
        color: $grayLight;
      }
    }
  }
}

