
// colors
$black: black;
$grayDark: lighten(black, 20%);
$grayMedium: lighten(black, 40%);
$grayLight: lighten(black, 60%);
$grayLightest: lighten(black, 90%);
$red: #86002a;

$fontSize: 16px;
$displayFont: 'Lato', sans-serif;
$bodyFont: 'Roboto Slab', serif;
$padding: 25px;

$desktop: 900px;
$tablet: 700px;
$phone: 500px;

@mixin body {
  font-family: $bodyFont;
  color: $grayMedium;
}

@mixin header {
  font-family: $displayFont;
  color: $grayDark;
  font-weight: 700;
}

@mixin nav {
  font-family: $displayFont;
  color: $grayDark;
  font-weight: 400;
}

.red {
  color: $red;
}