
// colors
$black: black;
$grayDark: lighten(black, 35%);
$grayMedium: lighten(black, 50%);
$grayLight: lighten(black, 60%);
$grayLightest: lighten(black, 89%);
$grayBg: lighten(#efefef, 4%);
$headerColor: lighten(black, 25%);
$tan: #f5f2f0;
$red: #905;

$fontSize: 16px;
$displayFont: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$bodyFont: 'Merriweather', serif;
$padding: 25px;

$desktop: 900px;
$tablet: 700px;
$phone: 500px;

@mixin body {
  font-family: $bodyFont;
  color: $grayDark;
}

@mixin header {
  font-family: $displayFont;
  color: $grayDark;
  font-weight: 700;
}

@mixin nav {
  font-family: $displayFont;
  color: $grayDark;
  font-weight: 400;
}

.red {
  color: $red;
}