<div class="spacer">&nbsp;</div>
<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 3,
  interval: 6000,
  width: 'auto',
  height: 300,
  theme: {
    shell: {
      background: 'none',
      color: '#9e9e9e'
    },
    tweets: {
      background: 'none',
      color: '#8a8a8a',
      links: '#178191'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    hashtags: true,
    timestamp: false,
    avatars: false,
    behavior: 'all'
  }
}).render().setUser('dperrymorrow').start();


</script>
