head
  title= title

  meta(name="description" content=description)
  meta(name="viewport" content="width=device-width, user-scalable=no")

  link(rel="stylesheet" href="/styles/app.css")

  if (environment == "production")
    script(defer src="https://cloud.umami.is/script.js" data-website-id="9a998f6c-3cf0-4c00-adaf-bae775f82fe5")

  script(src="/scripts/prism.js" defer)
  script(src="/scripts/app.js" defer)
