

doctype
html(lang="en")
  != partial("./_header")

  body
    main
      != partial("./_nav")

      header
        h1= title
        img(src=coverImage alt=title loading="lazy")
        span.caption=caption

      article.md
        != yield

      != partial("./_promoted")
