

section.nav

  a#nav-toggle(href="#")
    img(src="/images/hamburger.svg")

  nav
    ul
      li
        a(href="/") Root
      li(class=current.source == 'about' ? 'active' : '')
        a(href="/about") About
      li
        a(href="/morrow_resume.pdf", download="Morrow-Resume.pdf") Resume


    ul
      for article in public.posts._data
        li
          a(href="/posts/#{ article.slug }" class=current.source === article.slug ? 'active' : '')
            = article.title

