.index-articles
  .group
    for article, slug in public.posts._data
      if (article.tags.includes('Promoted'))
        article.promoted

          if article.thumb
            a(href="/posts/#{ slug }")
              img(src="/images/#{ article.thumb }")
          

          h1
            //- .date= article.date
            a(href="/posts/#{ slug }")
              = article.title
              | &nbsp;
            small
              = article.intro
