.lead
  .date
    | David Morrow
    a.hamburger(href="#")

  h1 Recent Posts
  h2 Posts are mostly solving a problem I had, new interesting technologies, or something I have built. I hope someone finds them interesting or helpful.

.blog-content
  != partial("_promoted")
              
      
