
code{
	color:#aec2ac;
	white-space: pre-wrap;
}

.bash{
	color:lightgreen;
}

.comment{
	color:#777;
}

.title{
	color: #aa824f;
}

.keyword{
	color: #cba768;
}

.params{
	color:#9eab9d;
}

.number{
	color:#d97e5d;
}

.class{
	color:#9b703f;
}

.string{
	color:#a0ab7d;
}

.variable{
	color:#889ab5;
}

.hexcolor{
	color:#ca7840;
}
.value{
	color:#e3d98b;
}	

.javascript .keyword,
.function .keyword{
	color:#f5eca3;
}
.id{
	color:#8b98ab;
}

.attr_selector{
	color:#8f9d6a;
}