@import "vars";

.index-articles {
  // display: flex;
  // flex-flow: row wrap;
  // justify-content: space-between;

  .group {
    padding-bottom: $padding*2;
    border-bottom: 1px solid $grayLightest;
    margin-bottom: $padding;
  }

  article {
    padding-top: $padding;
    display: block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-items: flex-start;
    // border: 1px solid blue;
    font-size: 0.85em;

    img {
      margin-right: $padding;
      width: 62px;
      margin-top: 4px;
      max-width: 100%;
      align-self: flex-start;
    }

    p {
      margin-top: $padding/2;
    }

    &.promoted {
      &:first-child {
        padding-top: 0;
      }

      h1 {
        flex: 1 0px;
        font-size: 180%;

        small {
          font-size: 76%;
        }
      }
    }

    h1 {
      margin: 0;
      // font-size: 160%;

      small {
        display: block;
        // font-size: 80%;
        font-weight: normal;
        font-family: $bodyFont;
        color: $grayMedium;
      }

      .date {
        // float: right;
        // display: inline-block;
        font-size: 60%;
        font-weight: normal;
        font-family: $bodyFont;
        color: $grayLight;
      }
    }
  }
}

@media (max-width: 700px) {
  .index-articles article.promoted {
    display: block;

    h1 {
      small {
        display: block !important;
      }
    }

    img {
      display: none;
    }
  }
}
