@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --padding-sm: 20px;
  --padding-md: 30px;
  --padding-lg: 60px;
  --padding-xs: 10px;
  --bg: rgb(244, 251, 251);
  --bg-2: rgb(224, 237, 237);
  --bg-light: rgb(255, 255, 255);
  --bg-dark: rgb(107, 126, 136);
  --link-txt: rgb(120, 8, 134);
  --link-bg: rgba(254, 231, 255, 0.4);
  --txt: rgb(52, 61, 68);
  --txt-dark: rgb(59, 74, 79);
  --txt-light: rgb(119, 119, 119);
  --font-size: 20px;
  --border: rgb(197, 217, 222);
  --border-radius: 5px;
  --highlight-bg: rgba(254, 255, 240, 1);
  --highlight-bg-dark: rgb(205, 197, 139);
  --highlight-txt: rgb(73, 73, 55);
  --highlighter: rgb(255, 255, 144);
  --foreground: rgb(255, 255, 255);

  /* --font-header: "Roboto Slab", Helvetica, Arial, "Lucida Grande", sans-serif; */
  /* --font-body: "Merriweather", serif; */
  --font-title: "Open Sans", serif;
  --font-header: "Roboto", Helvetica, Arial, "Lucida Grande", sans-serif;
  --font-body: "Lora", serif;
  --syntax-bg: #383940;
  --min-width: 400px;
  --max-width: 1080px;
  --box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  --nav-txt: #6f6f6f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --nav-txt: #595a64;
    --bg: #13191f;
    --bg-2: #303845;
    --foreground: #1e262f;
    --txt: #8b9ba4;
    --border: #485156;
    --link-txt: rgb(197, 69, 214);
    --link-bg: #6f407066;
    --txt-light: #bdd4df;
    --txt-dark: #adbdca;
    --highlight-bg-dark: #ecf0aa;
    --highlight-bg: rgba(136, 131, 93, 0.2);
    --highlight-txt: #e2dccb;
    --bg-dark: rgb(52, 62, 67);
  }
}
