
.lead
  .date
    David Morrow
    %a.hamburger(href="#")

  %h1
    About Me
  %h2
    Hi I’m Dave, a full stack Ruby On Rails developer who lives in beautiful Portland Oregon with my wife and two children.

.blog-content
  :markdown
    When asked to describe my skill set, and what differentiates me from other developers, I often answer with

    > _“I'm a developer with a designer’s eye. I bring a level of UI detail many developers lack.”_

    Having been a designer previously, I feel I have a knack for building great UI, and collaborate will with designers and art direction.
    I love building beautiful things. I have extensive experience with Data Visualization, dashboards, single page Javascript applications and more.

    I love writing clean, tested client side Javascript, and am proficient in Ruby On Rails. I get the most satisfaction in programming from solving complex problems with simple solutions.

    When I am not working on projects or tinkering with open source. I like to backpack in the cascades, work on my bonsai collection, shop for vinyl, and play electric guitar. Oh, and of course my other full time job, be a dad.

    ---

    [Email](mailto:dperrymorrow@gmail.com) |
    [Twitter](https://twitter.com/dperrymorrow) |
    [Github](https://github.com/dperrymorrow) |
    [LinkedIn](https://www.linkedin.com/in/davidmorrow) |
    [Coderwall](http://coderwall.com/dperrymorrow)