---
title: Welcome to Middleman
---

.panel-container
  #heading-container.panel.flex-centered

    .typography-box.animated.fadeIn

      .flex-row

        .flex-centered
          = image_tag "face.jpg", class: 'face animated fadeInDownBig'

        .flex-column
          .text
            Hi, I’m
            %span.red David Morrow,
            %br
            A full stack developer
          / .text Specialized in Front-End development

      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        

  = partial 'projects/measureful'
  = partial 'projects/measureful'
  = partial 'projects/measureful'